.containerWeather{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500
}


.containerWeather img{
    height: 50px;
    width: 50px;
    color: #0075a7
}