.containerPost{
    width: 85%;
    margin: auto
}


.postTitle{
    text-align: left;
    color: rgb(17, 17, 17);
}

.postSummary{
    text-align: left;
    color: rgb(40, 40, 40);
    margin-left: 15px;
}

.postPicture{
    display: flex;
    justify-content: center;
}
.postPicture img{
    height: 30%;
    max-height: 80vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.postContent{
    display: flex;
    justify-content: center;
    align-items: center;
}


.postText{
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.12px;
    max-width: 80%;
}
.postText::first-letter{
    font-size: 30px;
}

.postText img{
    max-width: 100%;
    max-height: 50vh;
    padding: 10px;
    object-position: center;
    object-fit: cover;
}










@media (max-width:1000px) {
    .postText{
        font-size: 19px;
    }
}


@media (max-width:800px) {
    .postText{
        font-size: 18px;
    }
}


@media (max-width:700px) {
    .postText{
        font-size: 17px;
    }
}